<div class="card text-center">
    <div class="card-header">
     <b> User List Page </b>
    </div>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Users</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile no</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userList">
      <th scope="row">{{ data.id }}</th>
      <td>
        {{ data.username }}
      </td>
      <td>{{ data.MobileNo}}</td>
      <td>{{ data.address }}</td>
    </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="UserCount.toString()" [(page)]="currentPageRecord" (pageChange)="pageChange(page)" >
    </ngb-pagination>
  
    <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="3">3 items per page</option>
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select> -->
  </div>
  </div>